body{
    background: linear-gradient(rgba(255, 115, 0, 0.76), rgb(88, 182, 0));
    height: 70vw;
}

.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.inputBox input{

    border-radius: 10px;
    border: none;
    margin-top: 10px;
    height: 2vw;
    width: 25vw;
    padding-left: 10px;
}

.inputBox button{

    border-radius: 10px;
    border: none;
    margin-top: 15px;
}

.links{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

